<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddContactServlet</servlet-name>
    <servlet-class>com.sml.contact.servlet.AddContactServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>com.sml.contact.servlet.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListContactServlet</servlet-name>
    <servlet-class>com.sml.contact.servlet.ListContactServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditContactServlet</servlet-name>
    <servlet-class>com.sml.contact.servlet.EditContactServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateContactServlet</servlet-name>
    <servlet-class>com.sml.contact.servlet.UpdateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactServlet</servlet-name>
    <url-pattern>/AddContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/DeleteContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListContactServlet</servlet-name>
    <url-pattern>/ListContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditContactServlet</servlet-name>
    <url-pattern>/EditContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateContactServlet</servlet-name>
    <url-pattern>/UpdateContactServlet</url-pattern>
  </servlet-mapping>
</web-app>