* {
	margin: 0;
	padding: 0;
}

.main {
	width: 960px;
}

#up {
	width: 100%;
	height: 1000px;
	background-color: plum;
	/*position: fixed;*/
	left: 0px;
	top: 0px;
}

#rect {
	width: 200px;
	height: 200px;
	background-color: cornsilk;
	position: fixed;
}


