<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.idea_1225.dao.UserDao">
    <select id="findAllUser" resultType="com.ssm.idea_1225.entity.User">
        select * from user
    </select>

    <delete id="deleteUserById" parameterType="int">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <delete id="deleteUser2" parameterType="list">
        DELETE FROM user WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="saveUser" parameterType="com.ssm.idea_1225.entity.User">
        INSERT INTO user(account,pwd) values(#{account},#{pwd})
    </insert>

    <update id="editUser" parameterType="com.ssm.idea_1225.entity.User">
        UPDATE user SET account=#{account},pwd=#{pwd} WHERE id=#{id}
    </update>
</mapper>